<ion-header>
	<ion-toolbar>
		<ion-row>
			<ion-col size="2" class="searchBack">
				<ion-icon name="arrow-round-back" routerLink="/allcategory"></ion-icon>
			</ion-col>
			<ion-col size="10">
				<ion-input set-focuser type="text" placeholder="Search here.."
					(input)="searchNews($event.target.value)"></ion-input>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-row class="searchResults" *ngFor="let searchNews of newsArray">
		<ion-col size="3" class="newsImg" padding (click)="getSingleSearch()">
			<img src="{{mediaPath}}{{searchNews.newsImage}}" height="73px" width="100%">
		</ion-col>
		<ion-col size="9" (click)="getSingleSearch()">
			<div padding>
				<p class="newsCat" *ngIf="language == 'English'">{{searchNews.newsCategory}}</p>
				<p class="newsCat" *ngIf="language == 'Hindi'">{{searchNews.newsCategoryHn}}</p>
				<span class="optionsList" *ngIf="language == 'English'"
					[innerHTML]="searchNews.newsTitleEnglish"></span>
				<span class="optionsList" *ngIf="language == 'Hindi'" [innerHTML]="searchNews.newsTitleHindi"></span>
			</div>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="searchLength == 0">
		<ion-col size="12">
			<h1>No result found!</h1>
		</ion-col>
	</ion-row>
	<div class="loader" *ngIf="loading">Loading...</div>
</ion-content>