.settings{
border-bottom: 1px solid lightgrey;
cursor:pointer;
}

.searchBack{
	margin: auto 0!important;
	text-align:center;
}

.searchBack ion-icon{
	align-items: center;
}

.newsImg{
	margin: auto 0!important;
	padding-left: 0;
	padding-right: 0;
}

.newsImg img{
	border-radius:5px;
}

.newsCat{
	margin: 0px auto;
	color: gray
}

.optionsList{
	margin: 0px auto;
}