<ion-header>
	<ion-toolbar>
		<ion-icon name="arrow-round-back" class="termsBack" routerLink="/settings"></ion-icon>
		
		<ion-title class="ion-text-center">
			Terms & Condition
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<div *ngFor="let policy of privacyPolicy">
		<div [innerHTML]="policy.terms"></div>	
	</div>
	<div class="container" *ngIf="loading">
		<div class="loader">
			<div class="loader--dot"></div>
			<div class="loader--dot"></div>
			<div class="loader--dot"></div>
			<div class="loader--dot"></div>
			<div class="loader--dot"></div>
			<div class="loader--dot"></div>
			<div class="loader--text"></div>
		</div>
	</div>
	<div class="loader" *ngIf="loading">Loading...</div>
</ion-content>